<h1 class = "mb-4 text-center">EAT-DA-BURGER!</h1>

<h2>Eat a Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>You have eaten all of these Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      {{burger_name}}
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Make a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"><strong>Burger name:</strong></label>
    <input type="text" id="ca" name="name">
  </div>
  
  <button class = "mb-4 btn btn-warning" type="submit">Add burger</button>
</form>
