li {
  padding: 9px;
  margin: 5px;
  background: #faebd7;
}

body {
  background-image: url("https://i.pinimg.com/originals/8a/27/09/8a2709aff18c1e20219e89f6d9da01f2.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: #cccccc;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Lobster', cursive;
 }



.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
